@media only screen and (min-width: 1000px) {

body {
    max-width: 2000px;
}

/*home page summary of vehicles*/

.summary {
    grid-template-columns: 1fr 1fr 1fr;
}
.vehicles h2 {
    padding: 0 5px;
}
.vehicles {
    width: 90%;
}

/*home page weather info*/
.current-weather {
    grid-column: 1 / 4;
    max-width: 50%;
    margin: 40px auto 40px auto;
    border-radius: 20px;
    padding-bottom: 15px;
}
.current-weather p{
    box-shadow: 5px 5px 10px #353431;
    margin: 25px;
}
.three-day h2{
    margin: 0 auto 15px auto;
    max-width: 50%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    article h2 {
        grid-column: 1/4;
    }
    article p {
        grid-column: 2 / 4;
    }
    table.tour-table {
        grid-column: 1 / 4;
        width: 450px;
    }
    article a{
        grid-column: 1 / 4;
    }
}