/*Colors
dark blue = 2A5099
light blue = 54A0BE
sand = FDF4E3
yellow = EEE074
dark grey = 353431
*/

/*General Design*/

body {
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
    background-color: #FDF4E3;
    color: #353431;
    font-family: "Assistant" , "Arial" , "sans-serif";
    font-size: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Ceviche One" , "Georgia" , "cursive";
    color: #2A5099;
}
ul { /*centers list and gets rid of bullets*/
    list-style: none;
    padding: 0;
}
a { /*takes out underline on links*/
    text-decoration: none;
    color: #353431
}
form a, .confirmation a {
    color:#2A5099;
    text-decoration: underline;
}
form a {
    display: block;
    margin-bottom: 20px;
}

/*header*/
header {
    display: flex;
    flex-direction: column;
    
}
img.logo-img {
    max-width: 100%;
    margin: 20px 5px 0 5px;
}
header h2{
    background-color: #EEE074;
    border-radius: 60px 0;
    padding: 10px 40px;
    width: 33%;
    margin: 0 auto 10px auto;
    box-shadow: 5px -5px 10px #353431;

/*navigation menu*/

.navigation{
    display: flex;
    flex-flow: column;
    background-color: #353431;
    max-width: 100%;
    font-size: 1.1em;
    padding: 5px;
    text-align: center;
}
ul.navigation {
    margin: 0;
    padding: 0;
}
.navigation a{
    text-decoration: none;
    color: #FDF4E3;
}
.navigation a:hover {
    color: #54A0BE;
}
.active, .active a{
    background-color: #EEE074;
    color: #353431;
}
.navigation li{
    display: none;
    padding: 6px;
}
.navigation li:first-child{
    display: block;
}
.responsive li{
    display: block;
}

/*hero image*/

.hero {
    width: 100%;
}

/*home page hero with call to action*/

.action-call {
    position: relative;
}
.call a p{
    background-color: white;
    padding: 20px;
    width: 100px;
    margin: 0 auto;
    box-shadow: 2px 3px 10px #353431;
    opacity: .8;
    color: black;
    border-radius: 5px;
}
.call a p:hover{
    background-color: #54A0BE;
    opacity: none;
}
.call {
    background-color: white;  
    width: 75%;
    max-height: 200px;
    padding: 10px 10px 40px 10px;  
    opacity: .8;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #353431;
}

/*home page summary of vehicles*/
.summary {
    display: grid;
    grid-template-columns: auto;
}
.vehicles{
    background-color: white;
    width: 80%;
    padding-bottom: 20px;
    margin: 5px auto 15px auto;
    box-shadow: 5px 5px 10px #353431;
}
.vehicles img{
    width: 100%;
}
.summary-link {
    background-color: #54A0BE;
    border: 1px solid #353431;
    width: 65%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
}
.summary-link:hover {
    box-shadow: 5px 5px 10px #353431;
}

/*home page current weather*/

.current-weather {
    background-color: white;
    width: 100%;
    padding: 10px 0;
    color: #2A5099;
}
.current-weather p{
    background-color: #EEE074;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 60px 0;
}

/*home page forecast*/

.three-day {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.forecast {
    border: 1px solid #2A5099;
    border-radius: 60px 0;
    margin: 5px auto;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 80%;
}
.forecast span {
    margin:0;
    padding-top: 12px;    
}

/*footer*/

footer{
    background-color: #353431;
    color: #FDF4E3;
    display: flex;
    flex-direction: column;
}
footer a{
    color:#FDF4E3;
}
footer a:hover{
    color:#EEE074;
}
footer h2{
    color: #54A0BE;
}
.quick-links{
    display: none;
}
.social-media {
    margin: 20px 0 40px 0;
}
.social-media a{
    margin: 0 10px;
}
.site-map {
    display: none;
}

/*form styling*/

form{
    text-align: left;
}
form p{
    margin: 10px;
    font-size: larger;
}

form fieldset {
    border: 1px solid #2A5099;
    border-radius: 5px;
    margin: 20px 2px;
}
form legend {
    padding: 0 5px;
    font-size: 1.25em;
    margin-bottom: 20px;
    color: #2A5099;
}
form p {
    color: #2A5099;
}

form a, .confirmation a {
    color:#2A5099;
    text-decoration: underline;
}
form a:hover {
    color: #54A0BE; 
}

form label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form label.personal input,
form label.personal select,
form label.rent select,
form label.contact input {
    width: 100%;
    height: 44px;
    border: 1px solid #2A5099;

}
form label.radio {
    display: block;
}
form input, form select{
    margin-top: 5px;
}
form select{
    padding-left: 5px;
}
#severity {
    appearance: none;
    background-image: linear-gradient(#54A0BE, #2A5099);
    height: 10px;
    border-radius: 10px;
    margin: 5px 0;
    outline: none;
}
#severity::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #2A5099;
    border: 1px solid black;
   }
   
   #severity::-moz-range-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #2A5099;
    border: 1px solid black;
   }
textarea {
    resize: none;
    width: 98%;
}
form input.submitBtn {
    border: 1px solid #353431;
    background-color: #54A0BE;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    margin: 20px 0;
}
form input.submitBtn:hover{
    box-shadow: 0 5px 10px #353431;
}
form label input:required {
    border-bottom: 3px solid #EEE074;
}
form label input:required:valid {
    border-bottom: 1px solid #2A5099;
}

/*Confirmation Page*/

.confirmation {
    padding: 20px;
}

/*Rentals Page*/
.rental-info {
    background-color: white;
    display: block;
    margin: 0 auto;
    max-width: 75%;
    box-shadow: 5px 5px 10px #353431;
    padding: 15px;
    margin-bottom: 60px;
}
.rental-info h2 {
    margin: 0;
}
.rental-info img{
    max-width: 100%;
}
a.reserve-button {
    display: block;
        background-color: #54A0BE;
        border: 1px solid #353431;
        margin: 30px;
        padding: 20px;
        border-radius: 5px;
    }
    a.reserve-button:hover {
        box-shadow: 5px 5px 10px #353431;
    }

/*Rentals Table*/

table.rent-table {
    box-shadow: 5px 5px 10px #353431;
    text-align: left;
    border-collapse: collapse;
    background-color: #353431;
    color: #FDF4E3;
    margin: 0 auto 30px auto;
    max-width: 90%;
}
thead {
    text-align: center;
    font-size: 1.25em;
    color: #353431;
}
th {
    background-color:#54A0BE;
}
thead th {
    background-color: #54A0BE;
}
table, th, td {
    border: 1px solid #EEE074;
    padding: 15px;
}

/*Tours page*/

.tour-intro p{
    padding: 15px;
}

table.tour-table {
    font-size: smaller;
    background-color: white;
    color: #353431;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px #353431;
    margin: 0 auto; 
    width: 350px;   
}
article {
    background-color: white;
    box-shadow: 5px 5px 10px #353431;
    padding: 15px 15px 30px;
    overflow: auto;
    max-width: 75%;
    margin: 30px auto;
}
article img {
    margin: 0 auto;
    width: 100%;
}
article h2 {
    margin: 0 auto 15px;
}
