@media only screen and (min-width: 520px) {

    main{
        max-width: 80%;
        margin-left: 10%;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    header img{
        width: 125px;
    }
    header h1{
        font-size: 2.5em;
    }
    main h2{
        font-size: 1.75em;
    }
    section{
        margin: 2rem;
        border: 1px solid #DAA12F;
        border-radius: 5px;
    }
    section .hero{
        border: none;
    }

    /* Town Info Cards */
    .town-info {
        display: grid;
          grid-template-columns: 1fr 1fr;
      }
      
      .town-info:nth-child(odd) img {
          grid-column: 2;
      }
      
      .town-info:nth-child(odd) .data {
          grid-column: 1;
          grid-row: 1;
      }

    .article img{
        float: left;
        margin-right: 50px;
        margin-left: 10px;
        width: 200px;
    }
    .weather-info{
        position: relative;
    }
    #weather-title{
        font-family: "Cormorant Garamon" , "Palatino Linotype", serif;
        background-color: #145A7B;
        color: white;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-size: 1.25em;
        outline: none;
    }
    .weather-summary{
        position: absolute;
        top: 25px;
        left: 40px;
        outline: 3px dotted #DAA12F;
        color: white;
        padding: 10px;
        background-color: #145A7B;
        opacity: .8;
    }
    .weather-summary p{
        margin: 0px;
    }
    #summary{
        font-size: larger;
        margin-bottom: 3px;
    }
    .five-day{
        display: block;
        padding: 10px;
    }
    .five-images{
        display: flex;
        justify-content: space-between;
    }
    .map-coordinates {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #contacts{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        padding: 1rem 0 0 2rem;
    }
    .site-map{
        display: block;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .gallery h2{
        grid-column: 1/3;
    }
    form label.top input,
    form label.storm select,
    form label.storm input {
        width: 20rem;
    }
    form input.submitBtn{
        width: 21.5rem;
    }
    figure{
        box-shadow: none;
    }
    footer{
        max-width: 80%;
        margin-left: 10%;
    }
}