body{
  margin: 0 auto;
}
table {
    font-family: ubuntu, sans-serif;
    box-shadow: 7px 5px 8px #628ca6;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
  }
  th, .hightlight{
    background-color: #628ca6;
    color: white;
  }
  thead th, tfoot{
    background-color: #7fb9c2;
    padding: 7px;
  }
  thead th{
    color: black;
    font-size: 1.25em;
  }
  tfoot {
    font-size: .5em;
  }
  /* zebra stripe table */
  tbody tr:nth-child(even) {
    background-color: #e7f0ed
  }
  table, th, td{
    border: 1px solid grey;
    padding: 7px;
  }