/*@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond&display=swap');*/
.content{
    margin: 0 auto;
    max-width: 520px;
    }
    body{
        background-color: #FFFFFF;
        font-size: 1.1em;
        text-align: left;
        font-family: "Cormorant Garamon" , "Palatino Linotype", serif;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: "Bangers" , "Impact" , sans-serif; 
        color: black;
    }
    h2, h3, h4, h5, h6{
        background-color: #DAA12F;
        max-width: 100%;
        padding: 10px;
        outline: 8px dotted black;
        border-radius: 5px;
        text-align:center; 
    }
    p{
        padding: 5px;
    }
    #pancakes{
        display: none;
        background-color: #145A7B;
        color: white;
        margin: 10px 0px;
        padding: 10px;
        border: solid #DAA12F;
        font-size: larger;
    }
    header{
        max-width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;
        background-color: #DAA12F;
        border: 5px solid black;
        padding: 5px;  
    }
    header img{
        border-radius: 100px;
        margin-right: 20px;
        border: black 1px solid;
    }
    header h1{
        margin: 0;
        padding-right: 5px;
        font-size: 2.1em;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .navigation{
	    display: flex;
	    flex-flow: column;
        background-color: #3DACE0;
        max-width: 100%;
        font-size: 1.1em;
        padding: 5px;
        text-align: center;
    }
    .navigation a{
        text-decoration: none;
        color: black;
    }
    .navigation a:hover {
        color: white;
    }
    .active {
        border: solid #DAA12F;
    }
    .navigation li{
        display: none;
        padding: 6px;
    }
    .navigation li:first-child{
        display: block;
    }
    .responsive li{
        display: block;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    main h2{
        margin: 15px;
        font-size: 1.5em;
    }
    main section{
        border: 1px solid #DAA12F;
        margin: 10px;
        padding: 10px;
        text-align: left;
        color: black;
    }
    .weather-info img{
        width:100%;
    }
    .five-day{
        display: none;
    }
    .article img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        background-color: #145A7B;
        color: white;   
        text-align: center;  
    }
    .contact-info h2{
        color: black;
        margin-bottom: 25px;
    }
    .social-media{
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }
    .social-media img{
        padding: 5px;
        border-radius: 10px;
    }
    .site-map{
        display: none;
    }
    footer{
        background-color: #3DACE0;
        font-family: "Cormorant Garamon" , "Palatino Linotype", serif;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }
    footer p{
        margin: 0;
    }
