@media only screen and (min-width: 605px) {

    main{
        max-width: 80%;
        margin-left: 10%;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a{
        padding: 5px;
    }
    header img{
        width: 125px;
    }
    header h1{
        font-size: 2.5em;
    }
    main h2{
        font-size: 1.75em;
    }
    section{
        margin: 2rem;
        border: 1px solid #DAA12F;
        border-radius: 5px;
    }
    section .hero, .town-info{
        border: none;
    }

    /* Town Info Cards */
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 1rem;
        border: 1px solid #DAA12F;
      }
      .card img{
        grid-row: 1/6;
        max-width: 300px;
      }
      .card h2{
          width: 90%;
      }
      .card:nth-child(even) img{
        grid-column: 2/3;
      }

    .article img{
        float: left;
        margin-right: 1rem;
        margin-left: 10px;
        width: 200px;
    }
    section.article {
        overflow: auto;
        padding-bottom: 5px;
    }
    .weather-info{
        position: relative;
    }
    #weather-title{
        font-family: "Cormorant Garamon" , "Palatino Linotype", serif;
        background-color: #145A7B;
        color: white;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-size: 1.25em;
        outline: none;
    }
    .weather-summary{
        position: absolute;
        top: 25px;
        left: 40px;
        outline: 3px dotted #DAA12F;
        color: white;
        padding: 10px;
        background-color: #145A7B;
        opacity: .8;
    }
    .weather-summary p{
        margin: 0px;
    }
    #summary{
        font-size: larger;
        margin-bottom: 3px;
    }
    .map-coordinates {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #contacts{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        padding: 1rem 0 0 2rem;
    }
    .site-map{
        display: block;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .gallery h2{
        grid-column: 1/3;
    }
    form label.top input,
    form label.storm select,
    form label.storm input {
        width: 30rem;
    }
    form input.submitBtn{
        width: 21.5rem;
    }
    figure{
        box-shadow: none;
    }

    /*5-day forecast*/

    .five-day{
        display: block;
        padding: 10px;
    }
    .five-images{
        display: flex;
        justify-content: center;
    }
    .five-forecast {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 2px solid #145A7B;
        margin: 1px;   
        background-color: white;   
        
    }

    #day1, #day2, #day3, #day4, #day5{
        background-color: #3DACE0;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #145A7B;
    }
        #forecast-temp1, #forecast-temp2, #forecast-temp3, #forecast-temp4, #forecast-temp5, .five-forecast img{
            padding: 0 1rem .5rem 1rem;
        }
    
    footer{
        max-width: 80%;
        margin-left: 10%;
        border-radius: 5px 5px 0px 0px;
    }
}