/* colors
yellow #DAA12F
blue #3DACE0
dark blue #145A7B
white #FFFFFF */

/* fonts
headers font-family: "Bangers" , "Impact" , sans-serif;
paragraphs font-family: "Cormorant Garamon" , "Palatino Linotype", serif; */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cormorant+Garamond&display=swap');
.content{
    max-width: 960px;
    margin: 0 auto;
    }
    body{
        background-color: #FFFFFF;
        font-size: 1.1em;
        text-align: center;
    }
    .nav{
	    display: flex;
	    flex-flow: column;
	    align-items: center;
	    justify-content: center;
	    padding: 10px;
        background-color: #3DACE0;
        max-width: 100%;
        font-size: 1.1em;
        border-radius: 5px;
    }
    .nav a{
        text-decoration: none;
        color: white;
        padding: 5px 50px 5px 50px;
        text-align: center;
    }
    .nav a:hover {
        color: #145A7B;
          }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul a{
        text-decoration: none;
        color: white;
    }
    footer{
        background-color: #3DACE0;
        font-family: "Cormorant Garamon" , "Palatino Linotype", serif;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
    }
    footer a{
        text-decoration: none;
        color: black;
    }
    footer a:hover {
        color: white;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: "Bangers" , "Impact" , sans-serif; 
    }
    h2, h3, h4, h5, h6{

        background-color: #DAA12F;
        max-width: 100%;
        padding: 10px;
        outline: 8px dotted black;
        border-radius: 5px;
        text-align:center;  
    }
    .title{
        background-color: #DAA12F;
        padding: 10px;
        padding-left: 15px;
        border: 5px solid black;
        border-radius: 5px;    
        font-size: 2.5em;      
    }
    p{
        font-family: "Cormorant Garamon" , "Palatino Linotype", serif;
    }
    .weather-logo{
        width: 200px;
        border-radius: 100px;
        border: solid black;
        margin-bottom: 25px;
    }
    .personas{
        display: grid;
        grid-template-columns: 1fr;
    }
    .persona1, .persona2{
        border: solid #DAA12F;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .persona1 p{
        padding: 5px;
    }
    .persona2 p{
        padding: 5px;
    }
    .persona-list{
        background-color: #145A7B;
        color: white;
        padding: 5px;
        max-width: 100%;
        text-align: center;
    }
    #background{
        background-color: white;
        border: solid black;
        padding: 20px;
    }
    #header{
        background-color: #DAA12F;
        padding: 10px;
        padding-left: 15px;
        border: 5px solid black;
        border-radius: 5px;    
        font-size: 2.5em;
        margin-bottom: 50px;
        font-family: "Bangers" , "Impact" , sans-serif; 
    }
    #subheading{
        background-color: #DAA12F;
        max-width: 33%;
        padding: 10px;
        padding-left: 15px;
        outline: 8px dotted black;
        border-radius: 5px; 
        font-family: "Bangers" , "Impact" , sans-serif; 
    }
    .colors{
        display: flex;
	    flex-flow: column;
	    align-items: center;
	    justify-content: center;
        padding: 10px;
    }
    #yellow, #blue, #dark-blue, #white{
        border: solid black;
        border-radius: 5px;
        padding: 25px;
        width: 100px;
        height: 25px;
        text-align: center;
    }
    #yellow{
        background-color: #DAA12F;
    }
    #blue{
        background-color: #3DACE0;
    }
    #dark-blue{
        background-color: #145A7B;
        color: white;
    }
    #white{
        background-color: #FFFFFF;
    }
